<header class="col-sm-12 row" ng-include="'view/header.html'">
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" ng-include="'view/menu.html'">
</nav>
<div class="row" >
    <h4 class="bg-dark text-white" style="padding: 10px; width: 1118px; margin-left: 12px; margin-top: 10px;">Liên hệ</h4>
    <div class="row">
        <div class="col-sm-12 image-wrapper">
            <div class="row">
                <div class="col-sm-8 image-container">
                    <img src="img/postdhmh.jpg" class="background-image">
                    <h1 class="overlay-text">Liên hệ với chúng tôi</h1>
                </div>
                <div class="col-sm-4">
                    <form id="contact-form">
                        <div class="form-group">
                            <label for="name">Tên</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Tin nhắn</label>
                            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-section bg-dark" style="bottom:100px">
<div class="row">
    <div class="col-sm-4">
        <img src="img/logo.png">
        <h2>Musical Land</h2>
        <p>The point of harmonizing music with people</p>
    </div>
    <div class="col-sm-4">
        <b>Bạn cần hỗ trợ</b>
        <h3>0773699825</h3>
        <p>Địa chỉ: 135 Nguyễn Thái Sơn, P.4, Q.Gò Vấp, TP.HCM</p>
        <p>Email: support@musicalland.vn</p>
        <div class="btn-group">
            <i class="fa-brands fa-facebook" style="font-size: 30px; margin-right: 15px;"></i>
            <i class="fa-brands fa-instagram" style="font-size: 30px; margin-right: 15px;"></i>
            <i class="fa-brands fa-threads" style="font-size: 30px; margin-right: 15px;"></i>
            <i class="fa-brands fa-tiktok" style="font-size: 30px;"></i>
        </div>
    </div>
    <div class="col-sm-3">
        <b>Hướng dẫn mua hàng</b>
        <p><a href="#!home">Trang chủ</a></p>
        <p><a href="#!home">Giới thiệu</a></p>
        <p><a href="#!home">Danh mục</a></p>
        <p><a href="#!home">Tin tức</a></p>
        <p><a href="#!home">Liên hệ</a></p>
        <p><a href="#!home">Hướng dẫn đặt hàng</a></p>
    </div>
</div>
</footer>