<div class="row">
    <div class="col-sm-4">
        <img src="img/logo.png">
        <h2>Musical Land</h2>
        <p>The point of harmonizing music with people</p>
    </div>
    <div class="col-sm-4">
        <b>Bạn cần hỗ trợ</b>
        <h3>0773699825</h3>
        <p>Địa chỉ: 135 Nguyễn Thái Sơn, P.4, Q.Gò Vấp, TP.HCM</p>
        <p>Email: support@musicalland.vn</p>
        <div class="btn-group">
            <i class="fa-brands fa-facebook" style="font-size: 30px; margin-right: 15px;"></i>
            <i class="fa-brands fa-instagram" style="font-size: 30px; margin-right: 15px;"></i>
            <i class="fa-brands fa-threads" style="font-size: 30px; margin-right: 15px;"></i>
            <i class="fa-brands fa-tiktok" style="font-size: 30px;"></i>
        </div>
    </div>
    <div class="col-sm-3">
        <b>Hướng dẫn mua hàng</b>
        <p><a href="#!home">Trang chủ</a></p>
        <p><a href="#!home">Giới thiệu</a></p>
        <p><a href="#!home">Danh mục</a></p>
        <p><a href="#!home">Tin tức</a></p>
        <p><a href="#!home">Liên hệ</a></p>
        <p><a href="#!home">Hướng dẫn đặt hàng</a></p>
    </div>
</div>