<div class="row align-items-center justify-content-start">
    <div class="col-2">
      <img src="img/logo.png" alt="Logo" style="width: 150px;">
    </div>
    <div class="col-7">
      <form class="d-flex" role="search">
        <input type="text" class="form-control" placeholder="Search" ng-model="keyword" ng-model-options="{debounce: 1000}">
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>
    <div class="col-sm-2">
        <i class="fa-solid fa-phone"></i> <b> Hotline</b>
        <p>0773699825</p>
    </div>
    <div class="col-1 d-flex justify-content-end">
      <a href="login.html" class="btn btn-light rounded-circle" style="width: 40px; height: 40px;">
        <i class="fa-solid fa-user"></i>
      </a>
      <a href="#!cart" class="btn btn-light position-relative ms-3">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          99+
          <span class="visually-hidden">unread messages</span>
        </span>
      </a>
    </div>
  </div>